<!DOCTYPE html>
<html lang="en">
<head>
    <title>建筑节能系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../vendor/select/css/selectordie.css">
    <link rel="stylesheet" href="../vendor/select/css/selectordie_theme.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="../css/demo.css">
</head>

<body class="login-bk">
<div class="login-bk-con">
    <div class="login-con">
        <div class="login-logo"></div>
        <div class="login-main-con">
            <div class="login-main-top-con"></div>
            <div class="login-main login-main-center-con">
                <form  class="main-width">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="icon login-yonghuming"></span></div>
                        <input type="text" class="form-control"  placeholder="请输入用户名">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="icon login-mima"></span></div>
                        <input type="text" class="form-control"  placeholder="请输入密码">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="icon login-mima"></span></div>
                        <input type="text" class="form-control"  placeholder="请再次输入密码">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="icon login-youxiang"></span></div>
                        <input type="text" class="form-control"  placeholder="请输入邮箱">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="icon login-dianhua"></span></div>
                        <input type="text" class="form-control"  placeholder="请输入手机号">
                    </div>

                </form>
                <div class="main-width text-center" ><a class="btn btn-block  btn-login" >立即注册</a></div>
                <div class="main-width ptb10"><span class="color-white p10" >已有账号?</span><span class="p10"><a class="color-blue" href="login.html">立即登录</a></span></div>
            </div>
            <div class="login-main-bottom-con"></div>

        </div>


    </div>
</div>


<!-- Javascript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../vendor/select/js/selectordie.min.js"></script>
<script>
    $(function(){
        $('select').selectOrDie();
    });
</script>
<script src="../scripts/main.js"></script>

</body>
</html>
